<form class="w-full max-w-7xl mx-auto px-6">
  <!-- Fila 1 -->
  <div class="grid grid-cols-1 md:grid-cols-3 md:gap-6 w-full">
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="id" id="id" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        required value=" {{ jsonData.output.id }} " />
      <label for="id" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        ID factura
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="cliente" id="cliente" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        required value="{{ jsonData.output.cliente }}"/>
      <label for="cliente" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        Cliente
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="productos" id="productos" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        required value="{{ jsonData.output.productos }}"/>
      <label for="productos" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        Productos
      </label>
    </div>
  </div>

  <!-- Fila 2 -->
  <div class="grid grid-cols-1 md:grid-cols-3 md:gap-6 w-full">
    <div class="relative z-0 w-full mb-5 group">
      <input type="date" name="fecha_generacion" id="fecha_generacion" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        required value="{{ jsonData.output.fecha_generacion}}"/>
      <label for="fecha_generacion" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        Fecha de generación
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="date" name="fecha_vencimiento" id="fecha_vencimiento" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        required value="{{ jsonData.output.fecha_vencimiento }}"/>
      <label for="fecha_vencimiento" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        Fecha de vencimiento
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="number" name="total_iva" id="total_iva" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        required value="{{ jsonData.output.total_iva }}"/>
      <label for="total_iva" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        Total IVA
      </label>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 md:gap-6 w-full">
    <div class="relative z-0 w-full mb-5 group">
      <input type="number" name="total_bruto" id="total_bruto" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        required value="{{ jsonData.output.total_bruto }}"/>
      <label for="total_bruto" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        Total bruto
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="number" name="total_pagar" id="total_pagar" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        required value="{{ jsonData.output.total_pagar }}"/>
      <label for="total_pagar" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        Total a pagar
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="metodo_pago" id="metodo_pago" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
        border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
        value="{{ jsonData.output.metodo_pago }}" />
      <label for="metodo_pago" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300
        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:text-blue-600 peer-focus:dark:text-blue-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
        peer-focus:scale-75 peer-focus:-translate-y-6">
        Método de pago
      </label>
    </div>
  </div>
</form>
